body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: #a5a5a5;
    color: #2d2a2b;

}

a{
    text-decoration: none;
    color: #000;

}

.nav{
    background: #fab03a;
    
}

.container{
    width: 100%;
    height: 90px;   
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_img{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.nav_img img{
    display: block;
    width: 100%;
    height: auto;
}
.nav_item{
    text-decoration: none;
    color: #4f4c4d;
    padding: 31px 12px;
    margin: 0 10px;
    border-bottom: 0px solid transparent;
    transition:border 0.3s ease;
}

.nav_item_icon{
    padding: 8px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    transition: width 0.2s ease-in-out;

}

.nav_item_icon img{
    display: block;
    width: 100%;
    height: auto;
}


/* hover */
.nav_item:hover{
    border-bottom:5px solid #4f4c4d;
    
}

.nav_item_icon:hover{
    width:60px;
}


/* Aside */

.container_content{
    background-image: url(../proyecto_copia/src/images/fondo_principal.jpg);
    background-size: cover;
    width:100%;
    height:87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_content_content {
    text-align: center;
    margin: center;
}

.container_content_content h1{
    font-size: 4em;
    color: #2d2a2b;
}

.container_content_content h3{
    font-size: 2em;
    color: #2d2a2b;
}

.container_content_content a{
    text-decoration: none;
    padding: 20px;
    font-size:1.3em;
    color: #2d2a2b;
    background: #fab03a;
    border-radius: 35px;
    transition: background 0.4s ease ;
}

.container_content_content a:hover{
    background: #4f4c4d;
}

/* Formularios */

.container_form{
    width: 40%;
    height: auto;   
    margin: auto;
    background: #d9a029;
    margin-top: 30px;
    border-radius:30px;
    padding: 20px;
}

.form{
    width: 100%;
}

.container_form h1{
    text-align: center;

}

.form_input{
    width: 97%;
    padding: 9px;
    margin: 10px 0;
    outline:none;
    border-radius: 30px;
    border: none;
    border-bottom: 2px solid #2d2a2b;
    color: #2d2a2b;
    background: #c89108;
}



.form_input::placeholder{
    color: #5f5d5e;
}

.form textarea{
    resize: none;
}

.form_button{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 9px;
    border-radius: 30px;
    border: 1px solid #2d2a2b;
    background: #d9a108;
}

.form_button:hover{
    cursor:pointer;
    background: #c89108;
}

.form_button:active{
    background: #c89108;
    border: 1px solid #c89108;
}


/* Login */

.form_p a{
    text-decoration: none;
    color: #2d2a2b;
}

.form_p a:hover{
    color: #4f4c4d;
}

/* Sobre Nosotros */

.container_sobreNosotros{
    background: #4f4c4d;
    max-width: 1400px;
}

.sobre_container{
    width: 100%;
    height: auto;
    align-items: center;
}

.sobre_quienesSomos{
    background: url(../src/images/fondo_sobreNosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre_quienesSomos h1{
    color: #b6b6b6;
    font-size: 4em;
}



.texto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
